.custom-date-selection {
  overflow: hidden;
  width: 100%;
  border: 1px solid #eef4f9;
  border-radius: 5px;
  direction: rtl;

  .custom-date-top-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;

    .custom-date-internal-hotel-hr {
      width: 2px;
      height: 20px;
      background-color: transparent;
      border: none;
      border-left: 1px solid #8f8f8f;
      margin: auto 15px;
    }

    .custom-date-text {
      flex-grow: 1;
    }

    .custom-date-left-icon {
      width: 15px;
      height: 15px;
      transition: 100ms;
      transform: rotate(-90deg);
      vertical-align: middle;
    }

    .custom-date-rotate {
      transform: rotate(90deg);
    }
  }
}
